*{
    margin: 0;
    padding: 0;
}

/* body appearance */
body{
    background-image: url(/9-15.5.2022/Password\ Generator/images/universe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: aqua;
}

#mainBox{
    background: linear-gradient(rgba(5, 155, 255, 0.35), rgba(5, 5, 255, 0.35)); 
    border: 3px solid rgb(0, 255, 255);
    border: 3px solid rgba(0, 255, 255, 0.75);
    border-radius: 25px;
    box-shadow: -5px -5px 200px rgb(0, 0, 170), 5px 5px 200px rgb(0, 0, 170);

    position: absolute;

    min-width: 600px;
    min-height: 455px;

}

#mainBox>h1{
    padding: 25px;
    text-align: center;
}

/* form appearance */
#form{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#symbols,#numbers,#small,#specials,#generator{
    margin: 10% 0%;
}

#final{
    padding-top: 125px;
    position: relative;
}

/* appearance of symbols input and generator button */
#symbols,#generator{
    width: 180px;
    height: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0px 5px;

    font-size: 15px;
    text-align: center;

    background-color: rgb(148, 0, 211);
    background-color: rgba(148, 0, 211, 0.5);
    border: 2px solid rgb(0, 255, 255);
    border-radius: 10px;
    color: aqua;
}

#symbols::placeholder{
    color: rgb(0, 255, 255);
    color: rgba(0, 255, 255, 0.8);
}

#symbols{
    outline: none; 
}

.check{
    width: 20px;
    height: 20px;
    accent-color: rgb(140, 0, 255);
}

/* additional appearance of generator button */
#generator{
    width: 195px;
    height: 50px;
    
    background-color: rgb(238, 130, 238);
    background-color: rgba(238, 130, 238, 0.5);
    border: 2px solid aqua;
    border-radius: 10px;
    color: aqua;
    font-weight: bold;

    position: absolute;
    top: 90%;
    left: 32.5%;
}

#generator:hover{
    background-color: rgb(238, 130, 238);
    background-color: rgba(238, 130, 238, 0.75);
    border: 2px solid aqua;
    border-radius: 10px;
    color: aqua;
}